.left{width:260px;background-color:#eee;height:500px;float: left;border:1px solid black}
/* .right{width:960px;background-color:hsl(34, 67%, 73%);;height:500px;float: right; } */
.clr{clear: both;}

.left a {
    background-color: hsl(34, 67%, 73%);;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.left a:hover {
    background-color: #ccc;
}

.left a.active {
    background-color: #4CAF50;
    color: white;
}