.rowback{background: #b9bdbd6b;font-weight:bold;    font-size: 20px;}
.btnclass{display: inherit;}
.col1{border: 1px solid #d4c8c8;}
.header1{background: #484a4a6b;font-weight: bold;font-size: 22px;margin-top: 20px;margin-bottom: 10px;}