.regi-container{width: 100%;border: 1px solid;background: #26af7021;}
.container1{width: 500px;margin: 0 auto;margin-bottom: 70px;border: 1px solid;background: #b5b5ad;padding: 20px;margin-top: 75px;}
td p{font-size: 20px;color: rebeccapurple;font-weight: bold;width: 135px;margin-left: 25px;}
.input-tag{font-size: 17px;font-weight: bold;margin-left: 25px;}
.inp{width: 281px;height: 21px;font-size: 17px;color: #440e0e;padding-left: 8px;}
.input-box{margin-left: 25px;margin-right: 20px;}
.inpdate{margin-left: 25px;padding-left: 45px;height: 25px;font-weight: bold;}
.city{font-size: 17px;font-weight: bold;padding-left: 20px;}
.subbtn,.resetbtn{font-size: 25px;color: white;border: 1px solid white;font-weight: bold;background: rebeccapurple;margin-right: 31px;text-transform: capitalize;}
.btn{margin-left: 145px;margin-top: 15px;}
.user-link{width: 200px;float: right;font-size: 15px;margin-top: 10px;}
.btns{display: flex; }
.sub{float: left;}
.gen{margin-left: 4px;}
.error{color: red;text-align: center;font-size: 15px;margin-bottom: 10px;}
.invalid-feedback{color: red;
    margin-left: 30px;}